.revelio-sidebar-wrapper {
  .components-panel__body {
    overflow-x: scroll;
    padding: 0;

    .revelio-post-meta-table {
      border-collapse: collapse;
      margin: 0;
      min-width: 100%;
      padding: 0;

      tr {
        th {
          border-right: 1px solid #ddd;
          width: fit-content;
        }
    
        th,
        td {
          border-bottom: 1px solid #ddd !important;
          padding: 0.5rem;
          text-align: left;
    
          p,
          code {
            font-size: 0.75rem;
            margin: 0;
            white-space: nowrap;
          }
        }
      }
    }
  }
}